body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
}

/* parent div with styling for the entire nav bar */
.nav {
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

/* child div / list of clickable navigation items on the upper right hand side of the nav bar */
#nav-list li {
  text-decoration: underline;
  display: inline-block;
  margin-right: 25px;
  float: right;
  justify-content: flex-end; /* places the nav list on the right of the nav */
}

#nav-list a {
  color: seashell;
}

/* child div / logo on the upper left of the nav bar */
#logo {
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: flex-start; /* places the logo on the left of the nav */
  margin-left: 10px;
  margin-top: 9px;
}

#logo img {
  height: 50px;
}

.cover {
  height: 700px;
  width: 1200px;
  background-image: url(images/img-mission-background.jpg);
  display: flex;
  align-items: center;
  top: 69px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  width: 1200px;
  position:relative;
  text-align: center;
  top: auto;
  left: auto;
}

.tea-of-the-month {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.berry-img {
  background-size: contain;
  height: 200px;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.rum-img {
  background-size: contain;
  height: 200px;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.donuts-img {
  background-size: contain;
  height: 200px;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.myrtle-img {
  background-size: contain;
  height: 200px;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.bedford-img {
  background-size: contain;
  height: 200px;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.locations-main {
  background-image: url(images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#locations {
  text-align: center;
}

#locations-three {
  display: flex;
  justify-content: space-around;
}

#downtown {
  background-color: black;
  height:300px;
  width: 300px;
  text-align: center;
  padding: auto 0;
}

#east-bayside {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  padding: auto 0;
}

#oakdale {
  background-color: black;
  height:300px;
  width: 300px;
  text-align: center;
  padding: auto 0;
}

.footer-center {
  text-align: center;
  height: 200px;
  padding-top: 10px;
}

.footer-copyright {
  text-align: left;
  padding-left: 20px;
}
